<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

	<!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
  	<!-- jQuery & Owl Carousel -->
	<script src="../../../../scripts/jquery/jquery-1.11.2.min.js"></script>    
	<script src="../../../../scripts/owlCarousel/owlCarousel.js"></script>
    <link rel="stylesheet" href="../../../../scripts/owlCarousel/owlCarousel.css">
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<script type="text/javascript" charset="utf-8">
	$(function(){
		// Banner Slider
		var slides = $('.plugin-slider .plugin-slide').length;

		// Slider needs at least 2 slides or you'll get an error.
		if(slides > 1){
			$('.plugin-slider').owlCarousel({
				loop:true,
				nav:false,
				items:1
			});	
		}
		
		// Icon Slider
		var slides = $('.launcher-slider .plugin-slide').length;

		// Slider needs at least 2 slides or you'll get an error.
		if(slides > 1){
			$('.launcher-slider').owlCarousel({
				loop:false,
				nav:false,
				items:1
			});	
		}
	})
</script>
<div class="holder padding-zero">
	<div class="launcher-plugin layout3">				
		<div class="main-logo">
			<div class="logo-holder">
				<table width="100%" cellspacing="0" cellpadding="0" height="100%">
					<tbody>
						<tr>
							<td align="center" valign="center">
								<div class="logo-media">
									<img src="http://www.placehold.it/260x120">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="plugin-slider text-center">
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
			<div class="plugin-slide">
				<img src="http://www.placehold.it/1280x720.jpg">
			</div>
		</div>
		<div class="launcher-slider text-center">
			<div class="plugin-slide">
				<div class="launcher-icons three-row">
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
				</div>
			</div>
			<div class="plugin-slide">
				<div class="launcher-icons three-row">
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
					<a class="launcher-icon">
						<div class="icon-holder text-center">
							<span class="icon icon-cog"></span>
						</div>
						<div class="text-holder text-center">
							<p class="ellipsis-two">Plugin Title</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>