<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

	<!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="launcher-plugin layout7">				
		<div class="menu-links">
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-cog text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Settings Cog Settings Cog Settings Cog Settings Cog Settings Cog Settings Cog</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-menu text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Menu Icon</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-brush2 text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Paint Brush</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-shovel text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Shovel</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-cog text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Settings Cog</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-menu text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Menu Icon</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-brush2 text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Paint Brush</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
			<a class="menu-item clearfix">
				<span class="icon main-icon icon-shovel text-primary pull-left"></span>
				<p class="text-primary ellipsis pull-left"><span class="text text-primary">Shovel</span></p>
				<span class="icon right-arrow pull-right icon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>
</html>